body
{
    background-image: url("https://i.ibb.co/Y0RXsnm/finalbg.jpg") ;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-position: center;
}

table
{
    table-layout: auto;
    width: 100%;
    padding: 100px;
}

th, td
{
    width: 50%;
    color: white;
    padding: 10px;
    padding-left: 40px;
    text-align: left;
}

tr:nth-child(even) {background-color: grey;}
tr:hover {background-color: rgba(63, 129, 102, 0.6);}